-

  const MetaDescriptionTemplates = {

    function: ({ functionName, whatFunctionDoes }) =>
        `「Yamato Daiwa ECMAScript extensions（YDEE）」ライブラリの「${ functionName }」関数は、${ whatFunctionDoes }`,

    class: ({ className, whatIsClassFor }) =>
        `「Yamato Daiwa ECMAScript extensions（YDEE）」ライブラリの「${ className }」クラスは、${ whatIsClassFor }`,

    realiseNotes: ({ version }) =>
        `「Yamato Daiwa ES Extensions（YDEE）」と言うTypeScript補助機能ライブラリのバージョン「${ version }」の変更(新規機能、既存機能の更新や以前の` +
        "機能の削除)の一覧。"

  };
