-

  generatePageTableOfContents = localizedStrings => {

    const PAGE_URI = localizedRouting.coreLibrary.$children.
        functionality.$children.
        arrays.$children.
        retrievingOfElements.$children.
        getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne.$URI;

    const pageTableOfContents = {

      example: {

        $heading: localizedStrings.example.$heading,
        $anchor: "EXAMPLE--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }

      },

      comparisonWithNativeMethods: {

        $heading: localizedStrings.comparisonWithNativeMethods.$heading,
        $anchor: "COMPARISON_WITH_NATIVE_METHODS--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; },

        $children: {

          find: {
            $heading: "Array.prototype.find",
            $anchor: "COMPARISON_WITH_NATIVE_METHODS-FIND--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          },

          filter: {
            $heading: "Array.prototype.filter",
            $anchor: "COMPARISON_WITH_NATIVE_METHODS-FILTER--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          }

        }

      },

      IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidance: {

        $heading: localizedStrings.IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidance.$heading,
        $anchor: "INTELLIJ_IDEA_IDES_LIVE_TEMPLATE_USAGE_GUIDANCE--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; },

        $children: {
          steps: {
            $heading: localizedStrings.IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidance.steps.$heading,
            $anchor: "INTELLIJ_IDEA_IDES_LIVE_TEMPLATE_USAGE_GUIDANCE-STEPS--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          }
        }

      },

      externalLinks: {
        $heading: localizedStrings.externalLinks.$heading,
        $anchor: "EXTERNAL_LINKS--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      }

    };

    return pageTableOfContents;

  };
