-

  generatePageTableOfContents = localizedStrings => {

    const PAGE_URI = localizedRouting.coreLibrary.$children.gettingStarted.$URI;

    const pageTableOfContents = {

      installation: {
        $heading: localizedStrings.installation.$heading,
        $anchor: "INSTALLATION--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      },

      distributiveVolumeNotice: {
        $heading: localizedStrings.distributiveVolumeNotice.$heading,
        $anchor: "DISTRIBUTIVE_VOLUME_NOTICE--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      },

      nonTypeScriptUsageWarning: {
        $heading: localizedStrings.nonTypeScriptUsageWarning.$heading,
        $anchor: "NON_TYPE_SCRIPT_USAGE_WARNING--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      },

      importingFunctionality: {
        $heading: localizedStrings.importingFunctionality.$heading,
        $anchor: "IMPORTING_OF_FUNCTIONALITY--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      }

    };

    return pageTableOfContents;

  };
