-

  const MetaDescriptionTemplates = {

    function: ({ functionName, whatFunctionDoes }) =>
        `Функция «${ functionName }» библиотеки «Yamato Daiwa ECMAScript extensions» ` +
        `(сокращённо: «YDEE») ${ whatFunctionDoes }`,

    class: ({ className, whatIsClassFor }) =>
        `Класс «${ className }» библиотеки «Yamato Daiwa ECMAScript extensions» ` +
        `(сокращённо: «YDEE») ${ whatIsClassFor }`,

    realiseNotes: ({ version }) =>
        "Список изменений (новая функциональность, изменение существующий функциональности и удаления прежней) версии " +
        `${ version } TypeScript-библиотеки вспомогательной функциональности «Yamato Daiwa ES Extensions» (сокращённо: «YDEE»).`

  };
