-

  generatePageTableOfContents = localizedStrings => {

    const PAGE_URI = localizedRouting.nodeJS.$children.utils.$children.ConsoleApplicationLogger.$URI;

    const tableOfContents = {

      demo: {
        $heading: localizedStrings.demo.$heading,
        $anchor: "DEMO--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      },

      minimalTheory: {

        $heading: localizedStrings.minimalTheory.$heading,
        $anchor: "MINIMAL_THEORY--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; },

        $children: {

          conventionalTerminology: {

            $heading: localizedStrings.minimalTheory.conventionalTerminology.$heading,
            $anchor: "CONVENTIONAL_TERMINOLOGY--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; },

            $children: {

              commandPhrase: {
                $heading: localizedStrings.minimalTheory.conventionalTerminology.commandPhrase.$heading,
                $anchor: "COMMAND_PHRASE--SECTION",
                get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
              }

            }

          },

          TypeScriptDiscriminatedUnions: {
            $heading: localizedStrings.minimalTheory.TypeScriptDiscriminatedUnions.$heading,
            $anchor: "TYPESCRIPT_DISCRIMINATED_UNIONS--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          }

        }

      },

      stepwiseGuide: {

        $heading: localizedStrings.stepwiseGuide.$heading,
        $anchor: "STEPWISE_GUIDE--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; },

        $children: {

          initialCommandPhrasesSet: {
            $heading: localizedStrings.stepwiseGuide.initialCommandPhrasesSet.$heading,
            $anchor: "STEPWISE_GUIDE-COMMAND_PHRASES--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          },

          commandPhrasesOptions: {
            $heading: localizedStrings.stepwiseGuide.commandPhrasesOptions.$heading,
            $anchor: "STEPWISE_GUIDE-COMMAND_PHRASES_OPTIONS--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          },

          consoleApplicationSpecification: {

            $heading: localizedStrings.stepwiseGuide.consoleApplicationSpecification.$heading,
            $anchor: "STEPWISE_GUIDE-CONSOLE_APPLICATION_SPECIFICATION--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; },

            $children: {
              optionsSpecification: {
                $heading: localizedStrings.stepwiseGuide.consoleApplicationSpecification.optionsSpecification.$heading,
                $anchor: "STEPWISE_GUIDE-CONSOLE_APPLICATION_SPECIFICATION-OPTIONS_SPECIFICATION--SECTION",
                get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
              }
            }

          },

          logic: {
            $heading: localizedStrings.stepwiseGuide.logic.$heading,
            $anchor: "STEPWISE_GUIDE-LOGIC--SECTION"
            // get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          }

        }

      }

    };

    return tableOfContents;

  };
