//- TODO Указать правильный путь
extends ../../../../../Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  //- TODO Указать правильный путь
  include ../../Components/Components.pug
  include ../../SharedAssets/Markup/Assets.russian.pug


block append Metadata

  -

    HTML_PAGE_LANGUAGE = "ru";
    HTML_PAGE_TITLE = buildHTML_PageTitle("${FILE_NAME_WITHOUT_EXTENSION}");
    HTML_PageMetaData = {
      description: MetaDescriptionTemplates.function({
        functionName: "${FILE_NAME_WITHOUT_EXTENSION}",
        whatFunctionDoes: "особую, уличную магию" // TODO Редактировать
      }),
      author: HTML_PAGE_AUTHOR
    };

    FAVICON_URI = "@MustBeInRoot/favicon";

    styleSheetsURIs = [ "@Shared/CommonStyles", "@Shared/ExternalComponents" ];
    scriptsURIs.endOfBody = [ "@Common" ];

    RoutingEmulator.setCurrentRoute("${ROUTE}");

    LanguageDropDownList.setLinks({
      [LanguageDropDownList.supportedLanguages.english]: "./${FILE_NAME_WITHOUT_EXTENSION}.english.html",
      [LanguageDropDownList.supportedLanguages.japanese]: "./${FILE_NAME_WITHOUT_EXTENSION}.japanese.html"
    });


block append SpecificContent

  article

    // TODO Редактировать
    +CallableExpressionScheme({
      technicalName: "${FILE_NAME_WITHOUT_EXTENSION}",
      headingTag: "h1",
      localizedDescriptiveHeading: "Делает особую, уличную магию",
      parametersSpecification: [
        {
          localizedName: "Target string",
          type: "string",
          required: true,
          genericTechnicalName: "targetString"
        }
      ],
      returnedValue: "boolean"
    }).Article-CallableExpressionScheme

    +CodeViewer--YDF.Article-CodeViewer
      +CodeViewer-TabPanel--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.TypeScript })

        +CodeViewer-PartialListing--YDF: :html_special_characters_to_html_entities
          console.log("OK");

        +CodeViewer-Explanation--YDF
          p.Article-Paragraph.
            Выводит "OK" в консоль (спасибо, кэп).
