//- TODO 深さを編集
extends ../../node_modules/@yamato-daiwa/programming_documentation/Layouts/TwoColumns/TwoColumnsLayout.pug


block append Requirements

  //- TODO 深さを編集
  include ../../SharedAssets/Markup/SharedAssets.japanese.pug
  include ../../SharedComponents/SharedComponents.japanese.pug


block append Metadata

  -

    RegularWebPageTemplate__YDF.configure({
      metadata: {
        title: buildHTML_PageTitle("${FILE_NAME_WITHOUT_EXTENSION}"),
        description: MetaDescriptionTemplates.function({
          functionName: "${FILE_NAME_WITHOUT_EXTENSION}",
          whatFunctionDoes: "特別なストリートの魔法" // TODO Edit
        })
      },
      stylesSheetsURIs: [
        "${DS}CommonStyles",
        "${DS}LayoutsStyles/TwoColumns/TwoColumnsLayout.css",
        "${DS}PreMadesStyles",
        "@CustomizedExternalComponents"
      ]
    });

    RoutingEmulator.setCurrentRoute("${ROUTE_PATH.replaceAll('$children.', '')}");

    LanguageDropDownList__YDF_DK.setLinks({
      english: routing.english.${ROUTE_PATH}.${DS}URI,
      russian: routing.russian.${ROUTE_PATH}.${DS}URI
    });
    
    //- TODO `+CallableExpressionScheme--YDF_DK`と言うPugミックスインが使われているなら、`pageTopHeading`無しで良い
    const { 
      ${DS}sectioning: localizedSectioning,
      ${DS}heading: topHeading
    } = localizedRouting.${ROUTE_PATH};


block append HeadScripts

  if __IS_PRODUCTION_BUILDING_MODE__

    +GoogleAnalyticsScript


block append SpecificContent

  article

    //- TODO 編集
    +CallableExpressionScheme--YDF_DK({
      technicalName: "${FILE_NAME_WITHOUT_EXTENSION}",
      headingTag: "h1",
      localizedDescriptiveHeading: "特別なストリートの魔法をする",
      parametersSpecification: [
        {
          localizedName: "Target string",
          type: "string",
          required: true,
          genericTechnicalName: "targetString"
        }
      ],
      returnedValue: "boolean"
    })

    +CodeViewer--YDF
      +CodeViewer-TabPanel--YDF({ codeLanguage: CodeViewer__YDF.SupportedCodesLanguages.TypeScript })

        +CodeViewer-PartialListing--YDF: :code_listing--yda
          console.log("OK");

        +CodeViewer-Explanation--YDF
          p.Article-Paragraph.
            "OK"をコンソールに取得させる（キャプテン・オブヴィアス、ありがとう）。
