-

  generatePageTableOfContents = localizedStrings => {

    const PAGE_URI = localizedRouting.coreLibrary.$children.
        functionality.$children.
        arrays.$children.
        retrievingOfElements.$children.
        getLastElementOfArray.$URI;

    const pageTableOfContents = {

      examples: {
        $heading: localizedStrings.examples.$heading,
        $anchor: "EXAMPLES--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      },

      IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidance: {

        $heading: localizedStrings.IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidance.$heading,
        $anchor: "INTELLIJ_IDEA_IDES_LIVE_TEMPLATE_USAGE_GUIDANCE--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; },

        $children: {
          steps: {
            $heading: localizedStrings.IntelliJ_IDEA_IDEs_LiveTemplateUsageGuidance.steps.$heading,
            $anchor: "INTELLIJ_IDEA_IDES_LIVE_TEMPLATE_USAGE_GUIDANCE-STEPS--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          }
        }

      },

      externalLinks: {
        $heading: localizedStrings.externalLinks.$heading,
        $anchor: "EXTERNAL_LINKS--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      }

    };

    return pageTableOfContents;

  };
