-

  function generateLocalizedRouting(localization) {

    return {

      top: {
        tableOfContentsTitle: localization.topPage.tableOfContentsTitle,
        URI: localization.topPage.URI
      },

      coreLibrary: {

        tableOfContentsTitle: localization.coreLibrary.tableOfContentsTitle,

        children: {

          gettingStarted: {

            tableOfContentsTitle: localization.coreLibrary.gettingStarted.tableOfContentsTitle,
            URI: `@All/CoreLibrary/GettingStarted/GetStartedWithCoreLibraryPage.${ localization.fileNameLocalizationExtensions }`,

            children: {

              installation: {
                tableOfContentsTitle: localization.coreLibrary.gettingStarted.sections.installation.tableOfContentsTitle,
                get URI() { return `@All/CoreLibrary/GettingStarted/GetStartedWithCoreLibraryPage.${ localization.fileNameLocalizationExtensions }#Installation--SECTION` }
              },

              distributiveVolumeNotice: {
                tableOfContentsTitle: localization.coreLibrary.gettingStarted.sections.distributiveVolumeNotice.tableOfContentsTitle,
                get URI() { return `@All/CoreLibrary/GettingStarted/GetStartedWithCoreLibraryPage.${ localization.fileNameLocalizationExtensions }#DistributiveVolumeNotice--SECTION` }
              },

              nonTypeScriptUsageWarning: {
                tableOfContentsTitle: localization.coreLibrary.gettingStarted.sections.nonTypeScriptUsageWarning.tableOfContentsTitle,
                get URI() { return `@All/CoreLibrary/GettingStarted/GetStartedWithCoreLibraryPage.${ localization.fileNameLocalizationExtensions }#NonTypeScriptUsageWarning--SECTION` }
              },

              importingOfFunctionality: {
                tableOfContentsTitle: localization.coreLibrary.gettingStarted.sections.importingOfFunctionality.tableOfContentsTitle,
                get URI() { return `@All/CoreLibrary/GettingStarted/GetStartedWithCoreLibraryPage.${ localization.fileNameLocalizationExtensions }#ImportingOfFunctionality--SECTION` }
              }

            }

          },

          functionality: {

            tableOfContentsTitle: localization.coreLibrary.functionality.tableOfContentsTitle,

            children: {

              strings: {

                tableOfContentsTitle: localization.coreLibrary.functionality.children.strings.tableOfContentsTitle,

                children: {

                  areStringifiedDigitsOnly: {

                    tableOfContentsTitle: "<code>areStringifiedDigitsOnly</code>",
                    get URI() { return `@All/CoreLibrary/Functionality/Strings/areStringifiedDigitsOnly/areStringifiedDigitsOnly.${ localization.fileNameLocalizationExtensions }` }

                  }

                }

              },

              arrays: {

                tableOfContentsTitle: localization.coreLibrary.functionality.children.arrays.tableOfContentsTitle,

                children: {

                  retrievingOfElements: {

                    tableOfContentsTitle: localization.coreLibrary.functionality.children.arrays.retrievingOfElements.tableOfContentsTitle,

                    children: {

                      getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne: {
                        tableOfContentsTitle: "<code>getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/Arrays/getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne/getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne.md"
                      },

                      getLastElementOfArray: {
                        tableOfContentsTitle: "<code>getLastElementOfArray</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/Arrays/getLastElementOfArray/getLastElementOfArray.md"
                      }
                    }

                  },

                  retrievingOfIndexes: {

                    tableOfContentsTitle: localization.coreLibrary.functionality.children.arrays.retrievingOfIndexes.tableOfContentsTitle,

                    children: {

                      getIndexesOfArrayElementsWhichSatisfiesThePredicate: {
                        tableOfContentsTitle: "<code>getIndexesOfArrayElementsWhichSatisfiesThePredicate</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/Arrays/getIndexesOfArrayElementsWhichSatisfiesThePredicate/getIndexesOfArrayElementsWhichSatisfiesThePredicate.md"
                      },

                      getIndexOfArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne: {
                        tableOfContentsTitle: "<code>getIndexOfArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne</code>",
                        URI: `@All/CoreLibrary/Functionality/Arrays/getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne/getArrayElementSatisfiesThePredicateIfSuchElementIsExactlyOne.${ localization.fileNameLocalizationExtensions }`
                      }

                    }

                  },

                  addingOfElements: {

                    tableOfContentsTitle: localization.coreLibrary.functionality.children.arrays.addingOfElements.tableOfContentsTitle,

                    children: {

                      addElementsToArray: {
                        tableOfContentsTitle: "<code>addElementsToArray</code>",
                        get URI() { return `@All/CoreLibrary/Functionality/Arrays/addElementsToArray/addElementsToArray.${ localization.fileNameLocalizationExtensions }.pug` }
                      }

                    }

                  },

                  removingOfElements: {

                    tableOfContentsTitle: localization.coreLibrary.functionality.children.arrays.removingOfElements.tableOfContentsTitle,

                    children: {

                      removeArrayElementsByIndexes: {
                        tableOfContentsTitle: "<code>removeArrayElementsByIndexes</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/Arrays/removeArrayElementsByIndexes/removeArrayElementsByIndexes.md"
                      },

                      removeArrayElementsByPredicates: {
                        tableOfContentsTitle: "<code>removeArrayElementsByPredicates</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/Arrays/removeArrayElementsByPredicates/removeArrayElementsByPredicates.md"
                      }

                    }

                  },

                  other: {

                    tableOfContentsTitle: localization.coreLibrary.functionality.children.arrays.other.tableOfContentsTitle,

                    children: {

                      removeArrayElementsByIndexes: {
                        tableOfContentsTitle: "<code>twoDimensionalizeArray</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/Arrays/twoDimensionalizeArray.md"
                      }

                    }

                  }

                }

              },

              constantsAndEnumerations: {

                tableOfContentsTitle: localization.coreLibrary.functionality.children.constantsAndEnumerations.tableOfContentsTitle,

                children: {

                  dateTime: {

                    tableOfContentsTitle: localization.coreLibrary.functionality.children.constantsAndEnumerations.dateTime.tableOfContentsTitle,

                    children: {

                      CHARACTERS_COUNT_OF_DATE_PART_IN_ISO8601_STRING: {
                        tableOfContentsTitle: "<code>CHARACTERS_COUNT_OF_DATE_PART_IN_ISO8601_STRING</code>",
                        URI: "#"
                      },

                      DaysOfWeek: {
                        tableOfContentsTitle: "<code>DaysOfWeek</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/ConstantsAndEnumerations/DaysOfWeek.md"
                      },

                      HOURS_PER_STELLAR_DAY: {
                        tableOfContentsTitle: "<code>HOURS_PER_STELLAR_DAY</code>",
                        URI: "#"
                      },

                      MAXIMAL_DAYS_IN_MONTH: {
                        tableOfContentsTitle: "<code>MAXIMAL_DAYS_IN_MONTH</code>",
                        URI: "#"
                      },

                      MINUTES_PER_HOUR: {
                        tableOfContentsTitle: "<code>MINUTES_PER_HOUR</code>",
                        URI: "#"
                      },

                      MONTHS_PER_YEAR: {
                        tableOfContentsTitle: "<code>MONTHS_PER_YEAR</code>",
                        URI: "#"
                      },

                      MonthsNames: {
                        tableOfContentsTitle: "<code>MonthsNames</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/ConstantsAndEnumerations/MonthsNames.md"
                      },

                      SECONDS_PER_MINUTE: {
                        tableOfContentsTitle: "<code>SECONDS_PER_MINUTE</code>",
                        URI: "#"
                      }

                    }

                  },

                  HTTP: {

                    tableOfContentsTitle: "HTTP",

                    children: {

                      HTTP_Methods: {
                        tableOfContentsTitle: "<code>HTTP_Methods</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/ConstantsAndEnumerations/HTTP_Methods.md"
                      },

                      HTTP_StatusCodes: {

                        tableOfContentsTitle: localization.coreLibrary.functionality.children.constantsAndEnumerations.HTTP.HTTP_StatusCodes.tableOfContentsTitle,

                        children: {

                          all: {
                            tableOfContentsTitle: "All (<code>HTTP_StatusCodes</code>)",
                            URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/ConstantsAndEnumerations/HTTP_StatusCodes.md#http_statuscodes---all-http-status-codes"
                          },

                          InformationalResponsesHTTP_StatusCodes: {
                            tableOfContentsTitle: "<code>InformationalResponsesHTTP_StatusCodes</code>",
                            URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/ConstantsAndEnumerations/HTTP_StatusCodes.md#informationalresponseshttp_statuscodes---information-responses"
                          },

                          SuccessfulResponsesHTTP_StatusCodes: {
                            tableOfContentsTitle: "<code>SuccessfulResponsesHTTP_StatusCodes</code>",
                            URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/ConstantsAndEnumerations/HTTP_StatusCodes.md#successfulresponseshttp_statuscodes---successful-responses"
                          },

                          RedirectionResponsesHTTP_StatusCodes: {
                            tableOfContentsTitle: "<code>RedirectionResponsesHTTP_StatusCodes</code>",
                            URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/ConstantsAndEnumerations/HTTP_StatusCodes.md#redirectionresponseshttp_statuscodes---redirection-messages"
                          },

                          ClientErrorsHTTP_StatusCodes: {
                            tableOfContentsTitle: "<code>ClientErrorsHTTP_StatusCodes</code>",
                            URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/ConstantsAndEnumerations/HTTP_StatusCodes.md#clienterrorshttp_statuscodes---client-error-responses"
                          },

                          ServerErrorsHTTP_StatusCodes: {
                            tableOfContentsTitle: "<code>ServerErrorsHTTP_StatusCodes</code>",
                            URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/ConstantsAndEnumerations/HTTP_StatusCodes.md#servererrorshttp_statuscodes---server-error-responses"
                          }

                        }

                      }

                    }

                  }

                }

              },

              dataMocking: {

                tableOfContentsTitle: localization.coreLibrary.functionality.children.dataMocking.tableOfContentsTitle,

                children: {

                  guide: {
                    tableOfContentsTitle: localization.coreLibrary.functionality.children.dataMocking.guide.tableOfContentsTitle,
                    URI: "#"
                  },

                  DataMockingClass: {
                    tableOfContentsTitle: localization.coreLibrary.functionality.children.dataMocking.DataMockingClass.tableOfContentsTitle,
                    URI: "#"
                  },

                  MockGatewayHelper: {
                    tableOfContentsTitle: "<code>MockGatewayHelper</code>",
                    URI: "#"
                  }

                }

              },

              dateTime: {

                tableOfContentsTitle: localization.coreLibrary.functionality.children.dateTime.tableOfContentsTitle,

                children: {

                  comparison: {

                    tableOfContentsTitle: localization.coreLibrary.functionality.children.dateTime.tableOfContentsTitle,

                    isEarlierThan: {
                      tableOfContentsTitle: "<code>isEarlierThan</code>",
                      URI: "#"
                    },

                    isLaterThan: {
                      tableOfContentsTitle: "<code>isLaterThan</code>",
                      URI: "#"
                    },

                    isNotEarlierThan: {
                      tableOfContentsTitle: "<code>isNotEarlierThan</code>",
                      URI: "#"
                    },

                    isNotLaterThan: {
                      tableOfContentsTitle: "<code>isNotLaterThan</code>",
                      URI: "#"
                    }

                  },

                  other: {

                    tableOfContentsTitle: localization.coreLibrary.functionality.children.dateTime.other.tableOfContentsTitle,

                    children: {

                      CalendarBuilder: {
                        tableOfContentsTitle: "<code>CalendarBuilder</code>",
                        URI: "#"
                      },

                      DateWithoutTime: {
                        tableOfContentsTitle: "<code>DateWithoutTime</code>",
                        URI: "#"
                      },

                      doesTimeIntervalsOverlaps: {
                        tableOfContentsTitle: "<code>doesTimeIntervalsOverlaps</code>",
                        URI: "#"
                      },

                      getDaysCountInSpecificMonth: {
                        tableOfContentsTitle: "<code>getDaysCountInSpecificMonth</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/DateTime/getDaysCountInSpecificMonth.md"
                      },

                      getDaysCountOfPeriod: {
                        tableOfContentsTitle: "<code>getDaysCountOfPeriod</code>",
                        URI: "#"
                      },

                      getISO8601StringWithoutTimePart: {
                        tableOfContentsTitle: "<code>getISO8601StringWithoutTimePart</code>",
                        URI: "#"
                      },

                      getMonthNameByNumber: {
                        tableOfContentsTitle: "<code>getMonthNameByNumber</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/DateTime/getMonthNameByNumber.md"
                      },

                      getMonthNumberByName: {
                        tableOfContentsTitle: "<code>getMonthNumberByName</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/DateTime/getMonthNumberByName.md"
                      },

                      getNextMonthNumber: {
                        tableOfContentsTitle: "<code>getNextMonthNumber</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/DateTime/getNextMonthNumber.md"
                      },

                      getPreviousMonthNumber: {
                        tableOfContentsTitle: "<code>getPreviousMonthNumber</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/DateTime/getPreviousMonthNumber.md"
                      },

                      getPreviousMonthNumber: {
                        tableOfContentsTitle: "<code>getPreviousMonthNumber</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/DateTime/getPreviousMonthNumber.md"
                      },

                      getYearOfNextMonth: {
                        tableOfContentsTitle: "<code>getYearOfNextMonth</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/DateTime/getYearOfNextMonth.md"
                      },

                      getYearOfPreviousMonth: {
                        tableOfContentsTitle: "<code>getYearOfPreviousMonth</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/DateTime/getYearOfPreviousMonth.md"
                      },

                      millisecondsToSeconds: {
                        tableOfContentsTitle: "<code>millisecondsToSeconds</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/DateTime/millisecondsToSeconds.md"
                      },

                      secondsToMilliseconds: {
                        tableOfContentsTitle: "<code>secondsToMilliseconds</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/DateTime/secondsToMilliseconds.md"
                      },

                      TimePoint: {
                        tableOfContentsTitle: "<code>TimePoint</code>",
                        URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-ES-Extensions/blob/master/CoreLibrary/Package/Documentation/DateTime/TimePoint.md"
                      }

                    }

                  }

                }

              }

            }

          }

        }

      }

    };

  }
